{% extends 'base.html' %}

<!-- HEAD -->
{% block head %}
<title>Posts</title>
{% endblock %}

<!-- BODY -->
{% block body%}
<div class="top">
    <!-- <img src="../static/imgs/logo.png" alt="daily smarty logo" /> -->
    <h1>Seatmap</h1> 
</div>
<div class="content">
    <section class="flight-info">
        <div class="actions">
            <button>Cancel Order</button>
            <button>Purchase Tickets</button>
        </div>
        <div class="passengers">
            <h3>Passengers</h3>
            <p>Name</p>
        </div>
        <div class="pricing">
            <h3>Total: $0 USD</h3>
        </div>
        <div class="legend">
            <h3>Legend</h3>
            <div class="item">
                <div class="seat available"></div>
                <p>Coach</p>
            </div>
            <div class="item">
                <div class="seat"></div>
                <p>Unavailable</p>
            </div>
        </div>
    </section>

    <form id="seat-data" action="/" method="GET">
        
    </form>
    <button type="submit" form="seat-data" value="Submit">Submit</button>
    <div class="seats-container">
        <div class="left seats">
            {% for seat in left %}
                {% if seat.available == True %}
                    <div class="seat available">
                        <span>{{ seat.row_number }}</span>
                    </div>
                {% else %}
                    <div class="seat">
                        <span>{{ seat.row_number }}</span>
                    </div>
                        
                {% endif %}
            {% endfor %}
        </div>
        <div class="middle seats">
            {% for seat in middle %}
                {% if seat.available == True %}
                    <div class="seat available">
                        {{ seat.row_number }}
                    </div>
                {% else %}
                    <div class="seat">
                        {{ seat.row_number }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="right seats">
            {% for seat in right %}
                {% if seat.available == True %}
                    <div class="seat available">
                        {{ seat.row_number }}
                    </div>
                {% else %}
                    <div class="seat">
                        {{ seat.row_number }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}